package partials

templ CardTempl(title string) {
	<section class=" sm:w-full md:w-64 md:h-auo bg-white">
		<section class="">
			<img
				style="width: 100px"
				src="https://img.icons8.com/?size=100&id=bjHuxcHTNosO&format=png&color=000000"
				class=""
				alt="No image"
			/>
		</section>
		<section class="">
			<h5 class="">Hello World</h5>
			<p class="">
				This is a wider card with supporting text below as a natural lead-in to
				additional content. This content is a little bit longer.
			</p>
		</section>
		<section class="">
			<small class="">Last updated 3 mins ago</small>
		</section>
	</section>
	<section class=" sm:w-full md:w-64 md:h-auo bg-white">
		<section class="">
			<img
				style="width: 100px"
				src="https://img.icons8.com/?size=100&id=bjHuxcHTNosO&format=png&color=000000"
				class=""
				alt="No image"
			/>
		</section>
		<section class="">
			<h5 class="">Hello World</h5>
			<p class="">
				This is a wider card with supporting text below as a natural lead-in to
				additional content. This content is a little bit longer.
			</p>
		</section>
		<section class="">
			<small class="">Last updated 3 mins ago</small>
		</section>
	</section>
	<section class=" sm:w-full md:w-64 md:h-auo bg-white">
		<section class="">
			<img
				style="width: 100px"
				src="https://img.icons8.com/?size=100&id=bjHuxcHTNosO&format=png&color=000000"
				class=""
				alt="No image"
			/>
		</section>
		<section class="">
			<h5 class="">Hello World</h5>
			<p class="">
				This is a wider card with supporting text below as a natural lead-in to
				additional content. This content is a little bit longer.
			</p>
		</section>
		<section class="">
			<small class="">Last updated 3 mins ago</small>
		</section>
	</section>
	<section class=" sm:w-full md:w-64 md:h-auo bg-white">
		<section class="">
			<img
				style="width: 100px"
				src="https://img.icons8.com/?size=100&id=bjHuxcHTNosO&format=png&color=000000"
				class=""
				alt="No image"
			/>
		</section>
		<section class="">
			<h5 class="">Hello World</h5>
			<p class="">
				This is a wider card with supporting text below as a natural lead-in to
				additional content. This content is a little bit longer.
			</p>
		</section>
		<section class="">
			<small class="">Last updated 3 mins ago</small>
		</section>
	</section>
	<section class=" sm:w-full md:w-64 md:h-auo bg-white">
		<section class="">
			<img
				style="width: 100px"
				src="https://img.icons8.com/?size=100&id=bjHuxcHTNosO&format=png&color=000000"
				class=""
				alt="No image"
			/>
		</section>
		<section class="">
			<h5 class="">Hello World</h5>
			<p class="">
				This is a wider card with supporting text below as a natural lead-in to
				additional content. This content is a little bit longer.
			</p>
		</section>
		<section class="">
			<small class="">Last updated 3 mins ago</small>
		</section>
	</section>
	<section class=" sm:w-full md:w-64 md:h-auo bg-white">
		<section class="">
			<img
				style="width: 100px"
				src="https://img.icons8.com/?size=100&id=bjHuxcHTNosO&format=png&color=000000"
				class=""
				alt="No image"
			/>
		</section>
		<section class="">
			<h5 class="">Hello World</h5>
			<p class="">
				This is a wider card with supporting text below as a natural lead-in to
				additional content. This content is a little bit longer.
			</p>
		</section>
		<section class="">
			<small class="">Last updated 3 mins ago</small>
		</section>
	</section>
	<section class=" sm:w-full md:w-64 md:h-auo bg-white">
		<section class="">
			<img
				style="width: 100px"
				src="https://img.icons8.com/?size=100&id=bjHuxcHTNosO&format=png&color=000000"
				class=""
				alt="No image"
			/>
		</section>
		<section class="">
			<h5 class="">Hello World</h5>
			<p class="">
				This is a wider card with supporting text below as a natural lead-in to
				additional content. This content is a little bit longer.
			</p>
		</section>
		<section class="">
			<small class="">Last updated 3 mins ago</small>
		</section>
	</section>
	<section class=" sm:w-full md:w-64 md:h-auo bg-white">
		<section class="">
			<img
				style="width: 100px"
				src="https://img.icons8.com/?size=100&id=bjHuxcHTNosO&format=png&color=000000"
				class=""
				alt="No image"
			/>
		</section>
		<section class="">
			<h5 class="">Hello World</h5>
			<p class="">
				This is a wider card with supporting text below as a natural lead-in to
				additional content. This content is a little bit longer.
			</p>
		</section>
		<section class="">
			<small class="">Last updated 3 mins ago</small>
		</section>
	</section>
	<section class=" sm:w-full md:w-64 md:h-auo bg-white">
		<section class="">
			<img
				style="width: 100px"
				src="https://img.icons8.com/?size=100&id=bjHuxcHTNosO&format=png&color=000000"
				class=""
				alt="No image"
			/>
		</section>
		<section class="">
			<h5 class="">Hello World</h5>
			<p class="">
				This is a wider card with supporting text below as a natural lead-in to
				additional content. This content is a little bit longer.
			</p>
		</section>
		<section class="">
			<small class="">Last updated 3 mins ago</small>
		</section>
	</section>
}
