<section class="bg-dark">
  <section class="row mx-1">
    <section class="col-6">
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-bg-dark">home</li>
        <li class="list-group-item text-bg-dark">about</li>
        <li class="list-group-item text-bg-dark">contact</li>
      </ul>
    </section>
    <section class="col-6 d-flex justify-content-center flex-column">
      <section
        class="d-grid gap-2"
        role="group"
        aria-label="Vertical button group"
      >
        <button type="button" class="btn btn-outline-light">sign in</button>
        <button type="button" class="btn btn-outline-light">sign up</button>
      </section>
    </section>
  </section>
</section>
