package partials

templ HeaderTempl() {
	<section class="w-full h-full flex justify-between items-center px-2">
		<nav class="w-3/5">
			<ul class="flex justify-evenly py-2">
				<li class="">Home</li>
				<li class="">About</li>
				<li class="">Contact</li>
			</ul>
		</nav>
		<section class="w-2/5 text-right py-2">
			<button type="button" class="">Sign Up</button>
			<button type="button" class="">Sign In</button>
		</section>
	</section>
}
