package layouts

templ NotFoundTemplate() {
	<div class="container mx-auto mt-6 text-center">
		<h1 class="text-2xl text-black font-bold">Ops!!! Something went wrong.</h1>
		<p class="text-lg italic">Sorry, the page you are looking for is not available.</p>
		<p class="text-lg italic">Return <a class="text-blue-600 underline" href="/products">home</a></p>
	</div>
}
