package pages

import (
	"github.com/Gabriel-Weiss/go_tutorial/views/layouts"
	"github.com/Gabriel-Weiss/go_tutorial/views/partials"
)

templ ShopPage(title string) {
	@layouts.Layout("Main layout") {
		@partials.BuyTempl()
	}
}
